.Game {
  padding: 2rem;
  background-image: url("./public/bloodbgc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.playersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: red;
}
