.mainHeader {
  background-color: lightskyblue;
  position: relative;
  padding: 50px;
}
.terningOverlay {
  background-image: url("./public/terninger.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  width: 50vw;
  margin-bottom: -10vh;
  margin-left: 20vw;
  z-index: 1000;
}
