.dice-wrapper {
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  border: 2px solid #333;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  font-weight: bold;
}

.front  { transform: rotateY(0deg) translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }


.face-1 { transform: rotateX(0deg) rotateY(0deg); }
.face-2 { transform: rotateY(-90deg); }
.face-3 { transform: rotateX(-90deg); }
.face-4 { transform: rotateX(90deg); }
.face-5 { transform: rotateY(90deg); }
.face-6 { transform: rotateY(180deg); }


.rolling {
  animation: spin 1s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(720deg) rotateY(720deg);
  }
}
